
body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background-color: #E1E1E1;
}

header,
section,
footer {
	text-align: center;
}

header {
	margin-top: 60px;
	margin-bottom: 10px;
}

header img#head {
	width: 10%;

	min-width: 110px;
	border-radius: 50%;

	border: 2px solid #eee;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);

}

header h2 {
	text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
	
	color: #eee;

	font-family: 'Slabo 27px', serif;
	font-size: 48px;
}

#top-half {
	min-height: 400px;
	background-color: #005E08;
	color: #ddd;

	padding-bottom: 15px;

	box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.4);

	text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
	font-size: 22px;

	font-weight: 300;
}

#top-half section a {
	text-decoration:none;
	color: #ddd;

	border-bottom: 1px dashed #ddd;
}

#top-half section a:hover {
	background-color: rgba(255,255,255,0.3);
	border-bottom: none;
}

#top-half section p {
	padding: 10px 0px;
}

nav {
	width: 100%;
	background-color: #333;
	color: #eee;

	box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.5);
}

nav .container-fluid {
	width: 70%;
}

nav a.my-btn {
	display: block;
	padding: 10px 0px;

	margin: 20px 0px;

	text-decoration: none;
	text-align: center;

	background-color: transparent;
	color: #eee;
	border: 2px solid #eee;
	border-radius: 7px;

	transition-property: background-color, color;
	transition-duration: 0.25s;

}

nav a.my-btn:hover {
	background-color: #eee;
	color: #333;
	
}

#projects {
	background-color: white;
}

footer {
	margin-top: 20px;
	font-weight: 300;
	
	color: #999;
	text-transform: uppercase;

}

