body {
    /*background-color: #E3FAF8; or probably EBEBEB*/
    font-family: Ubuntu, sans-serif;
    color: #969696;
}

#main {
    margin:10% auto;
    width:40%;
    padding: 20px;
    background-color: rgba(255,255,255,0.3);

    /* Border */
    border-style: solid;
    border-width:1px;
    border-color:#A1A1A1;
    border-radius:15px;
    -moz-border-radius:15px;
    box-shadow: 0px 0px 10px #CCCCCC;
}

section {
    color: #464646;
    padding: 15px 0px;
}

nav {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align:center;

    background: -webkit-linear-gradient(top, rgba(186,186,186,0.1), rgba(186,186,186,0.6));
    background: linear-gradient(to bottom, rgba(186,186,186,0.1), rgba(186,186,186,0.6));
}

.bottom-nav-links:link, .bottom-nav-links:visited {
    display: inline-block;
    margin: 40px 30px;
    padding: 5px;
    width:200px;
    background-color:transparent;

    border: 1px solid #464646;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #A1A1A1;

    text-decoration:none;
    text-align:center;
    color: #464646;
}


.bottom-nav-links:hover {
    color:black;
    background-color: rgb(61,61,61);
    background: -webkit-linear-gradient(bottom, rgba(186,186,186,0.1), rgba(186,186,186,0.6));
}

.bottom-nav-links:active, .bottom-nav-links-current:link, .bottom-nav-links-current:hover, .bottom-nav-links-current:active, .bottom-nav-links-current:visited {
    color: white;
    background-color: rgba(130,130,130,0.5);
    box-shadow: inset 0px 0px 7px #3D3D3D;

    -webkit-transition: background 0.5s;
}

#name {
    font-size:40px;
    font-weight:700;
    height:100px;
    vertical-align:text-middle;
}

#gravatar {
    padding:10px;
    float:right;
}
