body {
    font-family: Ubuntu, sans-serif;
    color: #606060;

    background-image: -moz-linear-gradient(top, #9F82ED, #4787F5);
    background-image: -webkit-linear-gradient(top, #9F82ED, #4787F5);
    background-image: linear-gradient(to bottom,  #9F82ED, #4787F5);
    background-size: 100%;
    background-repeat: no-repeat;

}

#main {
    margin:5% auto 10% auto;
    width:945px;
    /*padding: 20px;*/
    background-color: #F0F0F0;
    color: #969696;
    overflow:hidden;

    /* Border */
    /*border-style: solid;
    border-width:1px;
    border-color:#4f4f4f;*/
    box-shadow: 0px 0px 15px #4f4f4f;
}

#addthis_follow
{
float:right;
width:200px;
padding-top:40px;
padding-right:20px;
}

section {
    color: #606060;
    padding: 20px;
    width: 905px;

    /*border-style: solid;
    border-width:1px;
    border-color:#A1A1A1;
    border-radius:15px;
    -moz-border-radius:15px;
    box-shadow: 0px 0px 10px #CCCCCC;*/

    overflow: hidden;

}

#spinner-div {
    /*display:none;*/
    text-align:center;
    padding-bottom:30px;
}

nav {
    height: 60px;
    width: 100%;
    text-align:center;
    border-bottom-style: solid;
    border-top-style:solid;
    border-width:1px;
    border-color:black;

    background: -moz-linear-gradient(bottom, #B0B0B0, #EBEBEB);
    background: -webkit-linear-gradient(bottom, #B0B0B0, #EBEBEB);
    background: linear-gradient(to top, #B0B0B0, #EBEBEB);
}

.bottom-nav-links:link, .bottom-nav-links:visited {
    display: inline-block;
    margin: 14px 30px;
    padding: 5px;
    width:150px;
    background-color:#E3E3E3;
    
    background: -moz-linear-gradient(bottom, #B0B0B0, #E3E3E3);
    background: -webkit-linear-gradient(bottom, #B0B0B0, #E3E3E3);
    background: linear-gradient(to top, #B0B0B0, #E3E3E3);

    border: 1px solid #464646;
    border-radius: 15px;
    /*box-shadow: 0px 0px 10px #A1A1A1;*/

    text-decoration:none;
    text-align:center;
    color: #464646;
}


.bottom-nav-links:hover {
    /*color:black;*/
    background-color: rgb(61,61,61);
    background: -moz-linear-gradient(top, #B0B0B0, #E3E3E3);
    background: -webkit-linear-gradient(top, #B0B0B0, #E3E3E3);
    background: linear-gradient(to bottom, #B0B0B0, #E3E3E3);
}

.bottom-nav-links:active, .bottom-nav-links-current:link, .bottom-nav-links-current:hover, .bottom-nav-links-current:active, .bottom-nav-links-current:visited {
    color: black;
    background-color: rgb(130,130,130);
    box-shadow: inset 0px 0px 7px #3D3D3D;

    -moz-transition: background 0.5s;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

#name {
    color: #9617EB;
    font-size:60px;
    /*height:100px;*/
    padding: 20px;

    vertical-align:text-middle;
}

#firstname {
    font-weight: 700;
}

#lastname {
    font-weight: 400;
}

#slogan {
    font-size: 26px;
    font-weight: 400;
    padding: 0px 20px 10px;
    
    color: #9E9E9E;
}

#gravatar {
    padding:10px;
    float:right;
}

footer {
    width:915px;
    font-size: 11px;
    color:#848484;
    text-align:center;
    padding: 15px;
}

.mywork-logo {
    float:right;
    display:inline;
    padding: 30px;
    height:200px;
    width:200px;
}
