
body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background-color: #E1E1E1;
}

header,
section,
footer {
	text-align: center;
}

header {
	margin-top: 40px;
	margin-bottom: 10px;
}

header img#head {
	width: 10%;

	min-width: 110px;
	border-radius: 50%;

	border: 2px solid #eee;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);

}

header h2 {
	text-shadow: 0px 0px 10px rgba(0,0,0,0.8);
	
	color: #eee;

	font-family: 'Slabo 27px', serif;
	font-size: 48px;
}

#top-half .container {
	background: rgba(46, 46, 46, 0.3);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.6);
}

#top-half {
	min-height: 400px;
	background-image: url("background.jpg");
	background-size: cover;
	background-position: center bottom;
	background-attachment: fixed;
	color: #ddd;

	padding-bottom: 15px;

	box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.6);

	text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
	font-size: 22px;

	font-weight: 300;
}

#top-half section a {
	text-decoration:none;
	color: #ddd;

	border-bottom: 1px dashed #ddd;
}

#top-half section a:hover {
	background-color: rgba(255,255,255,0.3);
	border-bottom: none;
}

#top-half section p {
	padding: 10px 0px;
}

nav {
	text-align: center;
	width: 100%;
	background-color: #333;
	color: #eee;

	/*box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.5);*/
}

nav .container-fluid {
	width: 70%;
}

nav a.my-btn {
	display: block;
	padding: 10px 0px;

	margin: 20px 0px;

	text-decoration: none;
	text-align: center;

	background-color: transparent;
	color: #ddd;
	border: 2px solid #ddd;
	border-radius: 30px;

	transition-property: color border-color;
	transition-duration: 0.25s;

}

nav a.my-btn:hover {
	color: #fff;
	border-color: #fff;
}

#projects {
	text-align: center;
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;

	color: #555;
}

.project {
	background-color: white;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
	margin-bottom: 20px;
}

.project .label {
	margin-top: 10px;
}

.project img.project-image {
	max-width: 100%;
	height: 175px;
}
.project .bottom {
	margin: 0px;
	padding: 10px 15px;
	width: 100%;
	text-align: left;

	background-color: rgba(255,255,255,0.9);
}

.bottom .bottom-text {
	padding: 5px 0px;
}

.bottom .bottom-bottom {
	text-transform: uppercase;
	color: #aaa;
	font-weight: 300;
	font-size: 9pt;
}
.bottom .bottom-bottom a, .bottom .bottom-bottom a:hover {
	color: #aaa;
	text-decoration: none;
}

footer {
	margin-top: 20px;
	font-weight: 300;
	
	color: #999;
	text-transform: uppercase;

}

footer a, footer a:hover {
	text-decoration: none;
	color: #999;
}
