html {
    min-height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #606060;
    background-color: #F2F2F2;
    
}

#main {
    margin:5% auto 10% auto;
    width:945px;
    /*padding: 20px;*/
    background-color: #FFFFFF;
    color: #969696;
    overflow:hidden;

    /* Border */
    box-shadow: 0px 1px 6px #CCCCCC;
}

#addthis_follow
{
float:right;
width:200px;
padding-top:40px;
padding-right:20px;
}

section {
    color: #606060;
    padding: 20px;
    width: 905px;
    
    overflow: hidden;

}

#spinner-div {
    /*display:none;*/
    text-align:center;
    padding: 30px;
}

#top-half {
    background-color: #005a7e;
    color: #ffffff;
}

nav {
    height: 60px;
    width: 100%;
    text-align:center;
    background-color: rgba(0,0,0,0.4);
}

.bottom-nav-links:link, .bottom-nav-links:visited {
    display: inline-block;
    margin: 14px 30px;
    padding: 5px;
    width:150px;

    color: #ffffff;

    text-decoration:none;
    text-align:center;
}


.bottom-nav-links:hover {
    background-color: rgba(255,255,255,0.2);
}

/* Either the current page's link, or something selected */
.bottom-nav-links:active, .bottom-nav-links-current:link, .bottom-nav-links-current:hover, .bottom-nav-links-current:active, .bottom-nav-links-current:visited {
    background-color: rgba(255,255,255,0.2);
    box-shadow: inset 0px 0px 7px #3D3D3D;

}

#name {
    font-size:60px;
    /*height:100px;*/
    padding: 60px;

    vertical-align:text-middle;
    text-align: center;
    font-weight: 300;

}

#slogan {
    font-size: 26px;
    font-weight: 400;
    padding: 10px 20px;
    
}

#gravatar {
    padding:10px;
    float:right;
}

footer {
    width:915px;
    font-size: 11px;
    color:#848484;
    text-align:center;
    padding: 15px;
}

img {border: none; }

a{
    border: none;
    text-decoration: none;
    color: #FF5B03;
}

.mywork-logo {
    float:right;
    display:inline;
    padding: 30px;
    height:200px;
    width:200px;
}
