html {
    min-height: 99%;
    border-top: 2px solid #3fa9f5;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    padding-top: 150px;
    padding-left: 300px;
    margin-bottom: 20px;
    
    font-size: 75px;
    font-weight: 300;
    color: #4d4d4d;
}

nav {
	border-right: 1px solid #3fa9f5;

	/* The bottom three should add up to 300px to match the title */
	width: 100px;
	margin-left: 180px;
	margin-right: 20px;
	padding: 15px 0;

	float:left;
}

nav a {
    text-decoration: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li {
	padding: 10px 0;
	text-align: center;
}


.nav-tooltip {
	position: relative;
	color: #3fa9f5;
	background-color: #ffffff;
	border: 1px solid #3fa9f5;
	font-size:14px;
	

	border-radius: 8px;
	box-shadow: 0 0 2px 0px #3fa9f5;
	margin: 0 4px;

	display:block;
	opacity:0;
}

article {
	color: #999999;
	font-size: 24px;
	margin-left:300px;

	width: 750px;
}

img {
	border: none;
}

