body {
    /*background-color: #E3FAF8; or probably EBEBEB*/
    font-family: Ubuntu, sans-serif;
    color: #606060;

    background-image: url('background.png');
    background-size:100%
}

#main {
    margin:5% auto 10% auto;
    width:50%;
    /*padding: 20px;*/
    background-color: #F0F0F0;
    color: #969696;
    overflow:hidden;

    /* Border */
    /*border-style: solid;
    border-width:1px;
    border-color:#4f4f4f;*/
    box-shadow: 0px 0px 15px #4f4f4f;
}

section {
    color: #606060;
    padding: 20px;

    /*border-style: solid;
    border-width:1px;
    border-color:#A1A1A1;
    border-radius:15px;
    -moz-border-radius:15px;
    box-shadow: 0px 0px 10px #CCCCCC;*/

    overflow: hidden;

}

#spinner-div {
    /*display:none;*/
    text-align:center;
    padding-bottom:30px;
}

nav {
    height: 60px;
    width: 100%;
    text-align:center;
    border-bottom-style: solid;
    border-top-style:solid;
    border-width:1px;
    border-color:black;

    background: -webkit-linear-gradient(bottom, #B0B0B0, #EBEBEB);
    background: linear-gradient(to top, #B0B0B0, #D1D1D1);
}

.bottom-nav-links:link, .bottom-nav-links:visited {
    display: inline-block;
    margin: 14px 30px;
    padding: 5px;
    width:150px;
    background-color: transparent;
    background: -webkit-linear-gradient(bottom, #B0B0B0, #E3E3E3);

    border: 1px solid #464646;
    border-radius: 15px;
    /*box-shadow: 0px 0px 10px #A1A1A1;*/

    text-decoration:none;
    text-align:center;
    color: #464646;
}


.bottom-nav-links:hover {
    /*color:black;*/
    background-color: rgb(61,61,61);
    background: -webkit-linear-gradient(top, #B0B0B0, #E3E3E3);
}

.bottom-nav-links:active, .bottom-nav-links-current:link, .bottom-nav-links-current:hover, .bottom-nav-links-current:active, .bottom-nav-links-current:visited {
    color: black;
    background-color: rgb(130,130,130);
    box-shadow: inset 0px 0px 7px #3D3D3D;

    -webkit-transition: background 0.5s;
}

#name {
    color: #DEDEDE;
    font-size:60px;
    /*height:100px;*/
    padding: 20px;

    vertical-align:text-middle;
}

#firstname {
    font-weight: 700;
    color: #28B9F7;
}

#lastname {
    font-weight: 400;
    color: #28B9F7;
}

#slogan {
    font-size: 26px;
    font-weight: 400;
    padding: 0px 20px 10px;
    
    color: #9E9E9E;
}

#gravatar {
    padding:10px;
    float:right;
}
